body{
    background: #a4bdd1 center url(Images/layout.jpg) no-repeat fixed;
}

/* Change materialize standard color */
input[type=text]:focus:not([readonly]), 
input[type=password]:focus:not([readonly]), 
input[type=email]:focus:not([readonly]), 
input[type=url]:focus:not([readonly]), 
input[type=time]:focus:not([readonly]), 
input[type=date]:focus:not([readonly]), 
input[type=datetime]:focus:not([readonly]), 
input[type=datetime-local]:focus:not([readonly]), 
input[type=tel]:focus:not([readonly]), 
input[type=number]:focus:not([readonly]), 
input[type=search]:focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #D76135;
    box-shadow: 0 1px 0 0 #D76135;
}

[type="checkbox"]:checked + label:before {
    border-right: 2px solid #D76135 !important;
    border-bottom: 2px solid #D76135 !important;
}
.dropdown-content li > span {
    color: #D76135 !important;
}

[type="radio"]:checked + label:after, 
[type="radio"].with-gap:checked + label:before, 
[type="radio"].with-gap:checked + label:after {
    border: 2px solid #D76135;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
    background-color: #D76135;
    z-index: 0;
}

.picker__date-display {
    background-color: #D76135;
}

.picker__weekday-display {
    background-color: #B76135;
}

.picker__close, 
.picker__today {
    color: #D76135;
}

.picker__day.picker__day--today {
    color: #D76135;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    background-color: #D76135;
}

.picker__nav--prev:hover, .picker__nav--next:hover {
    background: #F79175;
}

/*-----*/

.no-margin-vert{
    margin-bottom: 0;
    margin-top: 0;
}

.no-margin-bot{
    margin-bottom: 0;
}

.no-margin-top {
    margin-top: 0;
}

.no-padding{
     padding: 0 !important;
}

.no-padding-hor {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-padding-bot {
    padding-bottom: 0 !important;
}

.centralized{
    text-align: center;
}

.footer-copyright{
    margin: 10px;
}

.to-the-top{
    height: 50px;
    font-size: 24px;
}

.welcome-text{
    font-size: 25px;
}

.sub-welcome-text{
    font-size: 17px;
}

.contacts-text {
    font-size: 14px;
}

.text-danger{
    color: tomato;
}

.car-title:hover {
    text-decoration: underline;
}

.colored-hr{
    border: 2px solid #D76135;
}

.colored-hr-thin {
    border: 1px solid #D76135;
}

.main-color-text {
    color: #D76135 !important;
}

.main-color-background {
    background-color: #D76135 !important;
}

.search-btn {   
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    height: 34px;
}

.search-field:focus {
    border-bottom: 1px solid #D76135 !important;
    box-shadow: 0 1px 0 0 #D76135 !important;
}

.loading-el {
    display:none; 
}

.checkbox-par {
    padding: 5px !important;
}

.noUi-connect {
    background: #D76135;
}

#range {    
	height: 17px;
	margin: 18px auto 5px;    
}