@{
    ViewBag.Title = "Manage";
}

<div class="row no-margin-bot">
    <!-- Main body -->
    <div class="col s7 push-s1">
        <div id="main-body" class="card">
            <div class="row"></div>
            <p class="flow-text welcome-text centralized">Managment</p>
            <p class="flow-text sub-welcome-text centralized">Welcome to the managment panel!</p>
            <hr class="colored-hr" />
            <div class="row">
                <div class="row">
                    <div class="col s5 push-s1">
                        <div class="collection">
                            <a class="collection-item admin-menu-item flow-text centralized black-text" href="/Manage/OrderManage/NewOrders">
                                New orders
                                <br />
                                <br />
                                <img width="120" class="responsive-img" src="~/Content/Images/neworder-icon.png" />
                            </a>
                        </div>
                    </div>
                    <div class="col s5 push-s1">
                        <div class="collection">
                            <a class="collection-item admin-menu-item flow-text centralized black-text" href="/Manage/OrderManage/CurrentOrders">
                                Current orders
                                <br />
                                <br />
                                <img width="120" class="responsive-img" src="~/Content/Images/car-icon.png" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Right side -->
    <div class="col s3 push-s1">
        <!-- Login block -->
        <div class="row">
            @Html.Partial("../Partials/_LoginBlock")
        </div>
        <!-- Menu block -->
        <div class="row">
            <div id="right-sidebar" class="card centralized">
                <div class="row"></div>
                <p class="card-title flow-text">Menu</p>
                <div class="collection with-header">
                    @Html.RouteLink("Main", new { area = "Manage", controller = "Manage", action = "Index" }, new { @class = "collection-item main-color-background active" })
                    @Html.RouteLink("New orders", new { area = "Manage", controller = "OrderManage", action = "NewOrders" }, new { @class = "collection-item main-color-text" })
                    @Html.RouteLink("Current orders", new { area = "Manage", controller = "OrderManage", action = "CurrentOrders" }, new { @class = "collection-item main-color-text" })
                </div>
            </div>
        </div>
    </div>
</div>

